:root {
    --font-Baloo: "Baloo Tammudu 2", cursive;
    --font-Lato: "Lato", sans-serif;
    --font-Montserrat: "Montserrat", sans-serif;
    --color-blue-main: rgb(0, 107, 183);
    --color-blue-main-shadow: rgb(0, 107, 183, 0.5);
    --color-blue-main-hover: rgb(13, 64, 100);
    --color-red-main: rgb(237, 23, 75);
    --color-red-main-shadow: rgba(237, 23, 75, 0.5);
    --color-red-main-hover: rgb(133, 14, 44);
    --color-red-secondary: rgb(216, 30, 35);
    --color-black-main: rgb(20, 20, 20);
    --color-black-secondary: rgb(36, 36, 36);
    --color-black-main-hover: rgb(71, 71, 71);
    --color-grey-main: rgb(160, 160, 160);
    --color-grey-main-background: rgba(160, 160, 160, 0.8);
    --color-grey-text-shadow: rgba(255, 255, 255, 0.5);
    --color-white-main: #fbfbfb;
    --color-white-background: #93a3b9;
    --color-background-main: rgb(92, 92, 92);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    font-family: var(--font-Lato);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}


/* HEADER */

header {
    /* background-color: var(--color-black-main); */
    background: linear-gradient( var(--color-black-main), var(--color-black-secondary));
    grid-row: 1/1;
    display: flex;
    justify-content: space-between;
}

#logoNBA {
    max-width: 110px;
    transition: opacity 0.2s ease-in-out;
}

#logoNBA:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.logo {
    font-family: var(--font-Baloo);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.logo_about {
    color: var(--color-blue-main);
    position: relative;
    transition: color 0.2s ease-in-out;
}

.logo_about:hover {
    color: var(--color-blue-main-hover);
    transition: color 0.2s ease-in-out;
}

.logo_about::after {
    font-size: 20px;
    content: "■";
    position: relative;
    padding-left: 3px;
    color: var(--color-white-main);
}

.logo_NBA {
    color: var(--color-red-main);
    transition: color 0.2s ease-in-out;
}

.logo_NBA:hover {
    transition: color 0.2s ease-in-out;
    color: var(--color-red-main-hover);
}

#logo_link {
    transform: translateY(20%);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.hamburger {
    display: none;
}

.pageNav {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pageNav>li {
    padding: 10px 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.pageNav>li:hover {
    background-color: var(--color-black-main-hover);
    transition: background 0.3s ease-in-out;
}

.active {
    background-color: var(--color-red-main);
    transition: background 0.3s ease-in-out;
}

.active:hover {
    background-color: var(--color-red-main-hover);
    transition: background 0.3s ease-in-out;
}

.pageNav>li>a {
    color: var(--color-white-main);
}


/* HOME PAGE MAIN */

.mainContainer {
    background-image: url(images/mainPageBackground2.jpg);
    background-position: top;
    background-size: cover;
    min-height: 150vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    font-family: var(--font-Montserrat);
}

.main_box {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 4.8rem;
    color: var(--color-white-main);
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px var(--color-black-main);
    text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
}

h3 {
    font-size: 4rem;
    color: var(--color-white-main);
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px var(--color-black-main);
    padding: 20px 0;
    text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
    letter-spacing: 10px;
}

.blueText {
    color: var(--color-blue-main);
    text-shadow: 1px 1px 3px var(--color-blue-main-shadow);
}

.redText {
    color: var(--color-red-main);
    text-shadow: 1px 1px 3px var(--color-red-main-shadow);
}

.main_box_title {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_box_title>h3 {
    word-spacing: 140px;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
}

.main_box2 {
    grid-row: 6/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 160, 160, 0.8);
    transition: background 0.5s ease-in-out;
    /* opacity: 0.7; */
    /* background-color: var(--color-grey-main); */
}

.main_box2:hover {
    background-color: rgba(160, 160, 160, 0);
    transition: background 0.5s ease-in-out;
}

#read_more {
    font-size: 4rem;
    color: var(--color-white-main);
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
    text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
    padding: 50px 0;
}

#read_more:hover {
    color: var(--color-red-main);
    text-shadow: 1px 1px 3px var(--color-red-main-shadow);
    transition: all 0.3s ease-in-out;
}

.line {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-white-main);
    margin: 3px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1100px) {
    .mainContainer {
        min-height: 170vh;
    }
    /* HAMBURGER MENU */
    header {
        position: relative;
    }
    .hamAni {
        transform: rotate(90deg);
        transition: all 0.4s ease-in-out;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 38%;
        right: 5%;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .pageNav {
        display: none;
        gap: 0;
    }
    .open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0%;
        width: 100%;
        background-color: var(--color-grey-main-background);
        z-index: 3;
    }
    .pageNav>li {
        border-radius: 0;
    }
    nav {
        margin-right: 0;
        min-width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .mainContainer {
        min-height: 200vh;
    }
    .main_box_title {
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .mainContainer {
        min-height: 250vh;
    }
    .main_box_title {
        align-items: flex-start;
    }
    .main_box_title>h3 {
        word-spacing: 180px;
    }
}

@media screen and (max-width: 300px) {
    .mainContainer {
        min-height: 300vh;
    }
}


/* FOOTER */

.indexFooter {
    grid-row: 9/14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(160, 160, 160, 0.8);
    font-size: 1.4rem;
    font-weight: 300;
    font-family: var(--font-Montserrat);
    border-top: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( var(--color-black-main), var(--color-black-secondary));
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--font-Montserrat);
    border-top: 1px solid var(--color-white-main);
}

.footerLogo {
    padding: 10px;
    color: var(--color-white-main);
}

.footerLogo>span>a {
    color: var(--color-white-main);
    transition: color 0.3s ease-in-out;
}

.footerLogo>span>a:hover {
    color: var(--color-black-main-hover);
    transition: color 0.2s ease-in-out;
}

.footerSocials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: color 0.2s ease-in-out;
}

.fab {
    font-size: 2rem;
    padding: 20px;
    color: var(--color-white-main);
    transition: color 0.2s ease-in-out;
}

.fab:hover {
    color: var(--color-black-main-hover);
}

.aboutFooter {
    grid-row: 3/3;
}


/* ABOUT */

.aboutMain {
    grid-row: 2/2;
    min-height: 200px;
    background-image: url(images/darkBG.jpg);
    background-repeat: repeat-y;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.aboutBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutBox:first-child {
    min-height: 90vh;
}

.aboutBox:last-child {
    min-height: 40vh;
}

.photoWrapper {
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoWrapper>img {
    border: 5px solid var(--color-white-main);
}

h2 {
    font-family: var(--font-Montserrat);
    font-size: 4rem;
    color: var(--color-white-main);
    font-weight: 600;
    text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
    padding: 30px 0;
    text-align: center;
}

.dot {
    font-size: 2.3rem;
}

h4 {
    font-family: var(--font-Montserrat);
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--color-white-main);
    text-align: center;
    padding: 30px 10px;
}

.infoSpan {
    color: var(--color-white-main);
    font-size: 2rem;
    padding: 30px 20px;
    text-align: center;
}

.aboutP {
    color: var(--color-white-main);
    font-size: 1.2rem;
    line-height: 2.3;
    font-weight: 300;
}

.title {
    color: var(--color-white-main);
    font-size: 3rem;
}

.italic {
    font-style: italic;
}

.dividerBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
}

.dividerBox:nth-child(3) {
    padding: 40px 20px;
}

.leftBox {
    grid-column: 1/2;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rightBox {
    display: flex;
    justify-content: center;
}

.rightBox>img {
    max-height: 800px;
}

.leftBox2 {
    grid-column: 1/2;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.rightBox2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h5 {
    color: var(--color-white-main);
    font-size: 2rem;
    font-family: var(--font-Montserrat);
    text-align: center;
}

h5>a {
    color: var(--color-red-main);
    font-style: italic;
    transition: all 0.2s ease-in-out;
}

h5>a:hover {
    color: var(--color-red-main-hover);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
    .dividerBox {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
    }
    .leftBox2 {
        min-width: 300px;
        padding: 30px 0;
    }
    .rightBox2 {
        padding: 30px 0;
    }
    .aboutBox:last-child {
        padding: 30px;
    }
}


/* TEAMS */

.teamsMain {
    grid-row: 2/2;
    min-height: 200px;
    background-image: url(images/darkBG.jpg);
    background-repeat: repeat-y;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.teamBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team>img {
    max-width: 250px;
    padding: 20px 0;
    min-width: 200px;
    max-height: 250px;
}

.team {
    /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed var(--color-white-main);
}

.team:last-child {
    border: none;
}

.starting5 {
    color: var(--color-white-main);
    font-family: var(--font-Lato);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h6 {
    font-size: 1.8rem;
    padding: 20px;
}

ol {
    list-style-type: decimal;
    line-height: 2rem;
}

ol>li {
    font-size: 1.4rem;
}

.confrenceLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-white-main);
}

@media screen and (max-width: 1100px) {
    .teamsMain {
        grid-template-columns: 1fr;
    }
}


/* Blog */

.blogBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 50px;
    border-bottom: 1px dashed var(--color-white-main);
}

.blogBox:last-child {
    border-bottom: none;
}

.blogPost {
    grid-column: 1/2;
    color: var(--color-white-main);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.blogImg {
    grid-column: 2/4;
    padding: 40px;
    border-radius: 50px;
}

.titleBlog {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 600;
    padding-top: 20px;
    font-family: var(--font-Baloo);
    font-style: italic;
}

.date {
    font-size: 1.1rem;
    color: var(--color-red-main);
    font-style: italic;
    padding-bottom: 20px;
}

.textBlog {
    font-size: 1.5rem;
    line-height: 1.5;
}

.blogBTN {
    outline: none;
    font-family: var(--font-Lato);
    font-size: 1.3rem;
    border-radius: 70px;
    padding: 20px;
    margin-top: 30px;
    color: var(--color-white-main);
    background-color: var(--color-blue-main-hover);
    border: 2px solid var(--color-blue-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.blogBTN:hover {
    background-color: var(--color-white-background);
    color: var(--color-blue-main);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1410px) {
    .blogBox {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
    }
    .blogPost {
        grid-column: 1/1;
    }
    .blogImg {
        grid-column: 1/1;
        padding: 20px;
    }
}


/* GALLERY */

.galleryPhotos {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-rows: repeat(auto-fit, 1fr);
    padding: 15px;
}

.galleryWrapper {
    overflow: hidden;
    cursor: pointer;
}

.galleryWrapper>img {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.galleryWrapper>img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}


/* CONTACT */

.socialBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    color: var(--color-white-main);
    min-height: calc(100vh - 203px);
}

.socialForm {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.socialCredits {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    border-left: 1px dashed var(--color-white-main);
}

.socialTitle {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
}

.socialText {
    font-size: 1.5rem;
    padding: 20px 0;
    text-align: center;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 0;
}

input[type="text"],
input[type="email"] {
    width: 80%;
    height: 50px;
    padding: 30px;
    outline: none;
    border: 2px solid var(--color-blue-main);
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: var(--color-black-main-hover);
    font-family: var(--font-Montserrat);
    color: var(--color-white-main);
    transition: all 0.2s ease-in-out;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: var(--color-white-main);
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 2px solid var(--color-blue-main-hover);
    background-color: var(--color-background-main);
    transition: all 0.2s ease-in-out;
}

.formBTN {
    border: 2px solid var(--color-blue-main);
    background-color: var(--color-black-main-hover);
    color: var(--color-white-main);
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 30px;
    font-family: var(--font-Montserrat);
    transition: all 0.2s ease-in-out;
}

.formBTN:hover {
    background-color: var(--color-background-main);
    border: 2px solid var(--color-blue-main-hover);
    transition: all 0.2s ease-in-out;
}

.linksSocials {
    display: flex;
    justify-content: center;
}

.linksSocials>a>i:hover {
    color: var(--color-blue-main);
}

.createdBy {
    font-style: italic;
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    .socialBox {
        grid-template-columns: 1fr;
    }
    .socialForm {
        grid-column: 1/1;
    }
    .socialCredits {
        grid-column: 1/1;
        border-left: none;
        border-top: 1px dashed var(--color-white-main);
        padding: 40px;
    }
}


/* BLOG POST */


/* lightbox */

.lightBox {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

#lightBoxImage {
    max-width: 70vw;
}