:root {
  --font-Baloo: "Baloo Tammudu 2", cursive;
  --font-Lato: "Lato", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --color-blue-main: rgb(0, 107, 183);
  --color-blue-main-shadow: rgb(0, 107, 183, 0.5);
  --color-blue-main-hover: rgb(1, 97, 165);
  --color-red-main: rgb(237, 23, 75);
  --color-red-main-shadow: rgba(237, 23, 75, 0.5);
  --color-red-main-hover: rgb(255, 43, 96);
  --color-red-secondary: rgb(216, 30, 35);
  --color-black-main: rgb(20, 20, 20);
  --color-black-main-hover: rgb(71, 71, 71);
  --color-grey-main: rgb(160, 160, 160);
  --color-grey-main-background: rgba(160, 160, 160, 0.8);
  --color-grey-text-shadow: rgba(255, 255, 255, 0.5);
  --color-white-main: #fbfbfb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: var(--font-Lato);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

/* HEADER */

header {
  background-color: var(--color-black-main);
  display: flex;
  justify-content: space-between;
}

#logoNBA {
  max-width: 130px;
}

.logo {
  font-family: var(--font-Baloo);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_about {
  color: var(--color-blue-main);
  position: relative;
}

.logo_about::after {
  font-size: 20px;
  content: "■";
  position: relative;
  padding-left: 3px;
  color: var(--color-white-main);
}

.logo_NBA {
  color: var(--color-red-main);
}

#logo_link {
  transform: translateY(20%);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.hamburger {
  display: none;
}

.pageNav {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pageNav > li {
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

.pageNav > li:hover {
  background-color: var(--color-black-main-hover);
  transition: background 0.3s ease-in-out;
}

.active {
  background-color: var(--color-red-main);
  transition: background 0.3s ease-in-out;
}

.active:hover {
  background-color: var(--color-red-main-hover);
  transition: background 0.3s ease-in-out;
}

.pageNav > li > a {
  color: var(--color-white-main);
  /* text-transform: lowercase; */
}

/* HOME PAGE MAIN */

.mainContainer {
  background-image: url(images/mainPageBackground2.jpg);
  background-position: top;
  background-size: cover;
  min-height: 150vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);

  font-family: var(--font-Montserrat);
}

.main_box {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4.8rem;
  color: var(--color-white-main);
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 1px var(--color-black-main);
  text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
}

h3 {
  font-size: 4rem;
  color: var(--color-white-main);
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 1px var(--color-black-main);
  padding: 20px 0;
  text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
}

.blueText {
  color: var(--color-blue-main);
  text-shadow: 1px 1px 3px var(--color-blue-main-shadow);
}

.redText {
  color: var(--color-red-main);
  text-shadow: 1px 1px 3px var(--color-red-main-shadow);
}

.main_box_title {
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main_box_title > h3 {
  word-spacing: 140px;
  font-weight: 700;
  text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
}

.main_box2 {
  grid-row: 6/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(160, 160, 160, 0.8);
  transition: background 0.5s ease-in-out;
  /* opacity: 0.7; */
  /* background-color: var(--color-grey-main); */
}

.main_box2:hover {
  background-color: rgba(160, 160, 160, 0);
  transition: background 0.5s ease-in-out;
}

#read_more {
  font-size: 4rem;
  color: var(--color-white-main);
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  text-shadow: 1px 1px 3px var(--color-grey-text-shadow);
  padding: 50px 0;
}

#read_more:hover {
  color: var(--color-red-main);
  text-shadow: 1px 1px 3px var(--color-red-main-shadow);
  transition: all 0.3s ease-in-out;
}

.line {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-white-main);
  margin: 3px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .mainContainer {
    min-height: 170vh;
  }
  /* HAMBURGER MENU */

  header {
    position: relative;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
  }

  .pageNav {
    display: none;
    gap: 0;
  }

  .open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 100%;
    background-color: var(--color-grey-main-background);
    z-index: 3;
  }

  .pageNav > li {
    border-radius: 0;
  }

  nav {
    margin-right: 0;
    min-width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    min-height: 200vh;
  }
  .main_box_title {
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .mainContainer {
    min-height: 250vh;
  }

  .main_box_title {
    align-items: flex-start;
  }

  .main_box_title > h3 {
    word-spacing: 180px;
  }
}

@media screen and (max-width: 300px) {
  .mainContainer {
    min-height: 300vh;
  }
}

/* FOOTER */

footer {
  grid-row: 9/14;
  /* opacity: 0.7; */
  display: flex;
  flex-direction: column-reverse;
  /* padding: 30px 0; */
  align-items: center;
  background-color: rgba(160, 160, 160, 0.8);
  font-size: 1.4rem;
  font-weight: 300;
  font-family: var(--font-Montserrat);
}

.footerLogo {
  padding: 10px;
  color: var(--color-white-main);
}

.footerLogo > span > a {
  color: var(--color-white-main);
  transition: color 0.3s ease-in-out;
}

.footerLogo > span > a:hover {
  color: var(--color-black-main-hover);
  transition: color 0.2s ease-in-out;
}

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: color 0.2s ease-in-out;
}

.fab {
  font-size: 2.5rem;
  padding: 20px;
  color: var(--color-white-main);
  transition: color 0.2s ease-in-out;
}

.fab:hover {
  color: var(--color-black-main-hover);
}
